.image-container {
  position: relative;
  width: 100%;
  max-width: 520px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
}

.image-container .image-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.image-container .dropzone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  border: 5px dashed;
  border-color: #ccc;
  cursor: pointer;

  /* Se le aplica flex o none de manera condicional */
  justify-content: center;
  align-items: center;
}
