@import "reset.css";
@import "const.css";

body {
    display: flexbox;
    flex-direction: column;   
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction: row;
    background-color: var(--color-bg-primary);

    > img {
        height: 30px;
        width: auto;
        overflow: clip;
    }
}

header .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 15px; /* SUS, cambiar y ajustar espaciado entre cada section*/
    margin: 20px;
}

.product-image {
    background: var(--color-bg-gradient-primary);
    border-radius: 10px;

    > img {
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
    }
}

.title-and-fav {
    width: 100%;
    display: flex;
    flex-flow: row unwrap;
    justify-content: space-between;
    align-items: center;
}

#product-name {
    font-family: var(--font-title);
    color: var(--color-primary);
}

#favorite {
    color: var(--color-primary);
}

.rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.stars {
    color: var(--color-detail);

    > span {
        font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
    }
}

hr {
    border: 1px solid var(--color-primary);
    width: 100%;
    opacity: 0.2;
}

/* Table con la info del producto */
.prod-info {
    width: 100%;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    --info-padding: 8px;
}

table > thead > tr {
    display: flex;
    flex-direction: column;
    align-items: start;
}
table > thead > tr > th {
    padding: var(--info-padding);
}

table > tbody > tr {
    display: flex;
    flex-direction: column;
    align-items: end;
}
table > tbody > tr > td {
    padding: var(--info-padding);
}


/* Section de compra */
.purchase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#price {
    font-family: var(--font-title);
    font-size: 32px;
    color: var(--color-primary);
}


.amount-btn {
    display: flex;
    align-items: center;
    justify-self: space-between;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 100em;
} 

.amount-btn > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.amount-btn > strong {
    font-size: 20px;
}

.purchase-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.purchase-btn > button {
    color: white;
    border: none;
    border-radius: 100em;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.add-cart-btn {
    background-color: var(--color-accent-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    background-color: var(--color-primary);
}

/*Section de productos similares (o recomendado tambien puede ser)*/
.similar-product{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    margin-top: 40px;
    gap: 10px;
}
.similar-product > h3 {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 300;
    font-size: 25px;
}

.similar-product > ul {
    padding: 0px;;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.similar-product > ul > li{
    padding: 10px;
    list-style: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 10px;

    > div {
        border-radius: 10px;
        background: #dedede;
        background: var(--color-bg-gradient-primary);

        > img {
            filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
        }
    }

    > h6 {
        font-family: var(--font-body);
    }
    > p {
        color: var(--color-primary);
        font-family: var(--font-title);
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: small;
}
